echo "====================================================="
echo "Setting default network server settings..."
echo "====================================================="
net_sync_freq = 100
net_frame_freq = 0

echo "====================================================="
echo "END OF CONFIGURATION"
echo "====================================================="
echo ""